

@{
    ViewBag.Title = "Edit Property Listing";
}

<h2>Edit Property Listing</h2>

@model WebApplication4.Models.PropertyListing

@using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Title, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Description)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Address)
        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Address)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.City)
        @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.City)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.State)
        @Html.TextBoxFor(model => model.State, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.State)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ZipCode)
        @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ZipCode)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Price)
        @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Price)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Bedrooms)
        @Html.TextBoxFor(model => model.Bedrooms, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Bedrooms)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Bathrooms)
        @Html.TextBoxFor(model => model.Bathrooms, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Bathrooms)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ListingDate)
        @Html.TextBoxFor(model => model.ListingDate, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ListingDate)
    </div>









    <!-- Include other fields similarly -->

    <div class="form-group">
        @Html.LabelFor(model => model.PhotoBase64, new { @class = "control-label" })
        <input type="file" name="Photo" id="PhotoBase64" class="form-control" />
        @Html.ValidationMessageFor(model => model.PhotoBase64, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a href="@Url.Action("ViewPropertyListings")" class="btn btn-secondary">Cancel</a>
}

