@{
    ViewBag.Title = "View Property Listings";
}

<h2>Property Listings</h2>

@model IEnumerable<WebApplication4.Models.PropertyListing>
@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">
        @ViewBag.SuccessMessage
    </div>
}


@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <th>Price</th>
                <th>Bedrooms</th>
                <th>Bathrooms</th>
                <th>Listing Date</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var listing in Model)
            {
                <tr>
                    <td>@listing.Title</td>
                    <td>@listing.Description</td>
                    <td>@listing.Address</td>
                    <td>@listing.City</td>
                    <td>@listing.State</td>
                    <td>@listing.ZipCode</td>
                    <td>@listing.Price.ToString("C")</td>
                    <td>@listing.Bedrooms</td>
                    <td>@listing.Bathrooms</td>
                    <td>@listing.ListingDate.ToShortDateString()</td>
                    <td>
                        @if (!string.IsNullOrEmpty(listing.PhotoBase64))
                        {
                            <a href="#" data-toggle="modal" data-target="#photoModal" data-img="@($"data:image/png;base64,{listing.PhotoBase64}")">
                                <img src="@($"data:image/png;base64,{listing.PhotoBase64}")" alt="Property Photo" style="width:100px;height:100px;" />
                            </a>
                        }
                        else
                        {
                            <span>No Photo</span>
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("AddToFavorites", "User", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("id", listing.Id)
                            <button type="submit" class="btn btn-warning btn-sm">Add to Favorites</button>
                        }
                        <a href="@Url.Action("ScheduleVisit", "User", new { id = listing.Id })" class="btn btn-success btn-sm">Schedule Visit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No property listings available.</p>
}

<!-- Modal -->
<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="photoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="photoModalLabel">Property Photo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="modalPhoto" src="" alt="Property Photo" style="width:100%;height:auto;" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $('#photoModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var imgSrc = button.data('img');
            var modal = $(this);
            modal.find('#modalPhoto').attr('src', imgSrc);
        });
    </script>
}
